body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210302/pngtree-crop-green-rice-light-effect-wallpaper-image_571433.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #f11212;
}

form {
    background-color: rgba(255, 255, 255, 0.8); /* Added background transparency */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

label, input {
    display: block;
    margin: 20px 40% ;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#prediction-result {
    margin-top: 40px;
}

#result-value {
    font-weight: bold;
}
